<div class="container-fluid">
    <app-page-title title="Dashboard 3"/>
    <div class="row">
        <div class="col-md-12">
            <app-analytics-overview/>

            <div class="row">
                <div class="col-xxl-4">
                    <app-device-sessions/>
                </div>

                <div class="col-xxl-4 col-lg-6">
                    <app-traffic-sources/>

                </div>

                <div class="col-xxl-4 col-lg-6">
                    <app-top-countries/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-campaign-performance/>
                </div>
            </div>
        </div>
    </div>
</div>

<app-sidebar/>
