VITE_AWS_REGION=your-aws-region
VITE_IDENTITY_POOL_ID=your-identity-pool-id
VITE_USER_POOL_ID=your-user-pool-id
VITE_COGNITO_CLIENT_ID=your-cognito-app-client-id
VITE_TIMESTREAM_DB=your-timestream-database-name
