VITE_AWS_REGION=your-aws-region
VITE_IDENTITY_POOL_ID=your-identity-pool-id
VITE_USER_POOL_ID=your-user-pool-id
VITE_COGNITO_CLIENT_ID=your-cognito-app-client-id
VITE_TIMESTREAM_DB=your-timestream-database-name
VITE_TIMESTREAM_TABLE_RT=your-realtime-table-name
VITE_TIMESTREAM_TABLE_HOURLY=your-hourly-table-name
VITE_TIMESTREAM_TABLE_DAILY=your-daily-table-name
VITE_S3_ACTIVITY_BUCKET=your-s3-activity-bucket-name
VITE_SENSOR_RAP_SIL=your-sensor-id
VITE_SENSOR_PTP_01=your-sensor-id
VITE_SENSOR_PTP_02=your-sensor-id
VITE_SENSOR_PTP_03=your-sensor-id
VITE_SENSOR_PTP_04=your-sensor-id
VITE_SENSOR_RAP_MIR=your-sensor-id
VITE_SENSOR_PTP_07=your-sensor-id
