<div class="container-fluid">
    <app-page-title title="Outlook View" subTitle="Apps"/>

    <div class="outlook-box outlook-box-full">
        <div class="outlook-left-menu d-none d-lg-block" tabindex="-1">
            <app-outlook-nav [activeId]="activeId"></app-outlook-nav>
        </div>

        <ng-template #contentRef>
            <app-outlook-nav class="vh-100" [(activeId)]="activeId"/>
        </ng-template>

        <ngx-simplebar style="height: 100%;" class="card h-100 mb-0 rounded-0 border-0 flex-grow-1">
            <div class="card-header d-lg-none d-flex">
                <button
                    class="btn btn-sm btn-default btn-icon" type="button"
                    (click)="open(contentRef)"
                    >
                    <ng-icon name="tablerMenu2" class="fs-lg"/>
                </button>
            </div>

            <div class="card-body w-100">
                @if (navReady) {
                    <div class="tab-content" [ngbNavOutlet]="navComponent.nav">
                    </div>
                }
            </div>
        </ngx-simplebar>
    </div>
</div>
