<div class="container-fluid">
    <app-page-title subTitle="Apps" title="Article"/>

    <div class="row justify-content-center">
        <div class="col-xxl-10">
            <div class="card">
                <div class="card-body p-lg-5">
                    <div class="row g-5">
                        <div class="col-lg-8">
                            <h1 class="h3 mb-0">Mastering the Art of Focus: Tools & Strategies for Deep Work</h1>
                            <p class="d-flex flex-wrap gap-3 text-muted mb-0 mt-3 align-items-center fs-base">
                                <span class="badge text-bg-dark badge-label">Productivity</span>
                                <span class="d-flex align-items-start gap-1"><ng-icon name="tablerCalendar"
                                                                                      class="fs-md"/> Mar 18, 2025</span>
                                <span class="d-flex align-items-start gap-1"><ng-icon name="tablerMessageCircle"
                                                                                      class="fs-md"/> <a [routerLink]="[]"
                                                                                                         class="link-reset">42</a></span>
                                <span class="d-flex align-items-start gap-1"><ng-icon name="tablerEye" class="fs-md"/> 982</span>
                            </p>

                            <img src="assets/images/blog/blog-post.jpg" class="img-fluid rounded mt-4" alt="blog-img">

                            <div class="fs-md">

                                <p class="mt-4">In a world full of constant notifications and distractions, developing
                                    the ability to focus has become a superpower. This article dives into proven methods
                                    for cultivating deep work and staying productive in a digital age.</p>
                                <p>Eliminating distractions and building a workflow that encourages uninterrupted focus
                                    can drastically improve your efficiency. Whether you're coding, writing, or
                                    designing — deep work leads to higher quality output and greater satisfaction.</p>
                                <p>Some effective strategies include time-blocking your calendar, using tools like
                                    Pomodoro timers, and creating a distraction-free workspace. Even just 90 minutes of
                                    intentional, focused work per day can compound into massive progress over time.</p>
                                <p class="mb-0">By embracing stillness and training your attention,
                                    <mark>you’ll uncover a new level of clarity and creativity</mark>
                                    that transforms how you work and what you’re capable of achieving.
                                </p>
                            </div>


                            <div
                                class="bg-light-subtle border border-light rounded d-md-flex justify-content-between align-items-center text-center p-3 mt-5">

                                <h5 class="mb-0">Was this article helpful?</h5>
                                <p class="py-3 p-md-0 mb-0"><b>41</b> out of <b>72</b> found this helpful</p>

                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
                                    <label class="btn btn-soft-success btn-sm mb-0" for="btnradio1">
                                        <ng-icon name="tablerThumbUp" class="me-1"/>
                                        Yes</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                    <label class="btn btn-soft-danger btn-sm mb-0" for="btnradio2"> No
                                        <ng-icon name="tablerThumbDown" class="ms-1"/>
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex align-items-center gap-4 border mt-4 border-dashed p-4 rounded mb-14">
                                <div class="text-center flex-shrink-0 me-7 me-lg-13">
                                    <div class="mb-2">
                                        <img src="assets/images/users/user-1.jpg" class="avatar-xl rounded-circle"
                                             alt="">
                                    </div>
                                    <div class="mb-0">
                                        <a [routerLink]="[]" class="fw-bold fs-sm">Nathan Brooks</a>
                                        <span class="text-muted fs-6 fw-semibold d-block mt-1">Productivity Coach</span>
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <div class="text-muted fw-medium lh-base mb-2">
                                        Nathan is passionate about helping creators, developers, and entrepreneurs
                                        reclaim their time and do meaningful work. He writes regularly about mindful
                                        productivity and digital wellness.
                                    </div>

                                    <a [routerLink]="[]" class="fw-semibold link-primary">Author’s Profile</a>
                                </div>
                            </div>

                            <div class="my-4 text-center">
                                <h5 class="mb-3 text-uppercase fw-bold">Share This:</h5>

                                <div class="d-flex justify-content-center gap-2">
                                    @for (social of socialLinks; track $index) {
                                        <a [routerLink]="social.link"
                                           class="btn btn-icon rounded-circle btn-{{social.variant}}" title="Facebook">
                                            <ng-icon [name]="social.icon" class="fs-xl"/>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <h5 class="mb-3 text-uppercase fw-bold">Search</h5>

                            <div class="app-search">
                                <input type="text" class="form-control bg-light-subtle border-light"
                                       placeholder="Search post...">
                                <ng-icon name="tablerSearch" class="app-search-icon fs-xl text-muted"/>
                            </div>

                            <div class="align-items-center mt-5">
                                <h5 class="mb-3 text-uppercase fw-bold">Related post:</h5>
                                <ul class="list-group list-group-flush fs-sm">
                                    @for (post of relatedPosts; track $index) {
                                        <li class="list-group-item ps-0">
                                            <a [routerLink]="[]" class="link-reset fw-medium">{{ post }}</a>
                                        </li>
                                    }
                                </ul>
                            </div>


                            <div class="align-items-center mt-5">
                                <h5 class="mb-3 text-uppercase fw-bold">Popular Tags:</h5>
                                <div class="d-flex flex-wrap gap-1">
                                    @for (tag of popularTags; track $index) {
                                        <a class="btn btn-light btn-sm" [routerLink]="[]">{{ tag }}</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
