<div class="container-fluid">
    <app-page-title title="Seller Details" subTitle="Ecommerce"/>
    <div class="row">
        <div class="col-xl-4">
            <app-seller-contacts [seller]="seller"/>
        </div>

        <div class="col-xl-8">
            <app-seller-overview/>

            <h4 class="my-4">My Products</h4>

            <div class="row">
                <div class="col-12">
                    <app-seller-products/>

                </div>
            </div>

        </div>
    </div>

</div>
