<div class="container-fluid">
    <app-page-title title="Issue List" subTitle="Apps"/>

    <div class="row">
        <div class="col-12">
            <div data-table data-table-rows-per-page="8" class="card">
                <div class="card-header border-light justify-content-between">
                    <div class="app-search">
                        <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control"
                               placeholder="Search issues...">
                        <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                    </div>

                    <button type="submit" class="btn btn-success">Add New Issues</button>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table table-custom table-centered table-hover w-100 mb-0">
                                <tbody>
                                    @if ((total$ | async)! > 0) {
                                        @for (issue of records$ | async; track $index) {
                                            <tr>
                                                <td>
                                                   <span class="badge fs-xxs badge-label"
                                                         [class]="'text-bg-' + issue.variant">
                                                                 {{ toTitleCase(issue.status) }}
                                                    </span>
                                                </td>

                                                <td>
                                                    <a [routerLink]="[]" class="link-reset text-uppercase fw-semibold">
                                                        ISSUE-{{ issue.issueID }}
                                                    </a>
                                                    <p class="mb-0 text-muted">{{ issue.title }}</p>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <div class="avatar avatar-xs">
                                                            <img [src]="issue.avatar" [alt]="issue.name"
                                                                 class="img-fluid rounded-circle"/>
                                                        </div>
                                                        <div><h5 class="mb-0 lh-base">{{ issue.name }}</h5></div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <p class="mb-0 d-flex align-items-center gap-1">
                                                        <ng-icon name="tablerCalendar"/>
                                                        <span class="fw-semibold">Created:</span> {{ issue.createdAt }}
                                                    </p>
                                                    <p class="mb-0 d-flex align-items-center gap-1">
                                                        <ng-icon name="tablerClock"/>
                                                        <span class="fw-semibold">Due:</span> {{ issue.dueDate }}
                                                    </p>
                                                </td>

                                                <td>
                                                    @for (category of issue.categories; track $index) {
                                                        <a [routerLink]="[]"
                                                           class="badge badge-label badge-default me-1">{{ category }}</a>
                                                    }
                                                </td>

                                                <td>
                                                    <ngb-progressbar
                                                        [value]="issue.progress"
                                                        [type]="issue.variant"
                                                        [animated]="true"
                                                        height="6px"
                                                        class="w-100">
                                                    </ngb-progressbar>
                                                    <small class="text-muted">{{ issue.progress }}% Complete</small>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center gap-1">
                                                        <ng-icon name="tablerMessageCircle" class="text-muted me-1"/>
                                                        {{ issue.comments }} comments
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center gap-1">
                                                        <ng-icon name="tablerPaperclip" class="text-muted me-1"/>
                                                        {{ issue.files }} files
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex justify-content-center gap-1">
                                                        <button
                                                           class="btn btn-light btn-icon btn-sm rounded-circle">
                                                            <ng-icon name="tablerEye" class="fs-lg"/>
                                                        </button>
                                                        <button
                                                           class="btn btn-light btn-icon btn-sm rounded-circle">
                                                            <ng-icon name="tablerEdit" class="fs-lg"/>
                                                        </button>
                                                        <button
                                                           class="btn btn-light btn-icon btn-sm rounded-circle"
                                                           (click)="tableService.deleteItem(issue)">
                                                            <ng-icon name="tablerTrash" class="fs-lg"/>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    } @else {
                                        <tr class="no-results">
                                            <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if ((total$ | async)! > 0) {
                            <div
                                class="pagination pagination-boxed mb-0  justify-content-between align-items-center mt-3">
                                {{ tableService.showingRange }} issues

                                <ngb-pagination
                                    [collectionSize]="(total$ | async)!"
                                    [(page)]="tableService.page"
                                    [pageSize]="tableService.pageSize"
                                >
                                    <ng-template ngbPaginationPrevious>
                                        <ng-icon name="tablerChevronLeft"/>
                                    </ng-template>
                                    <ng-template ngbPaginationNext>
                                        <ng-icon name="tablerChevronRight"/>
                                    </ng-template>
                                </ngb-pagination>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
