<div class="container-fluid">
    <app-page-title title="Videos" subTitle="UI"/>
</div>
<div class="container-xl">
    <div class="row">
        <div class="col-xl-12">
            <app-ui-card title="Embed Videos">
                <div card-body>
                    <p class="text-muted mb-2">
                        Use generated pseudo elements to make an element maintain the aspect ratio of your choosing.
                        Perfect for responsively handling video or slideshow embeds based on the width of the parent.
                    </p>

                    <a class="btn btn-link p-0 fw-semibold" href="https://getbootstrap.com/docs/5.3/helpers/ratio/"
                       target="_blank">
                        Ratios on Bootstrap
                        <ng-icon name="tablerChevronRight" class="ms-1"/>
                    </a>
                </div>
            </app-ui-card>
        </div>

        <div class="col-xl-6">
            <app-ui-card title="Responsive embed video 21:9">

                <div card-body>

                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                    </div>
                </div>
            </app-ui-card>

            <app-ui-card title="Responsive embed video 1:1">
                <div card-body>

                    <div class="ratio ratio-1x1">
                        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                    </div>
                </div>
            </app-ui-card>
        </div>

        <div class="col-xl-6">
            <app-ui-card title="Responsive embed video 16:9">
                <div card-body>

                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                    </div>
                </div>
            </app-ui-card>

            <app-ui-card title="Responsive embed video 4:3">
                <div card-body>

                    <div class="ratio ratio-4x3">
                        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                    </div>
                </div>
            </app-ui-card>
        </div>
    </div>

</div>
